.Projects {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: #233B6E;
  text-align: center;
  margin: 50px;
  opacity: 0;
}

/*list of projects*/
.projects-title {
  margin: 70px 0 50px 0;
  font-size: 55px;
  font-family: 'Nunito Sans', sans-serif;
}

.projects-list {
  width: 90vw;
  margin: auto;
  height: 100%;
}

/*single projects*/
.single-project {
  box-shadow: 0px 0px 5px gray;
  width: 30%;
  margin: 10px;
  transition: left 0.5s;
  padding: 5px;
}

.single-project:hover {
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .projects-list {
    width: 100vw;
  }
}

@media (max-width: 892px) {
  .projects-list {
    width: 60vw;
    margin: auto;
  }

  .single-project {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 500px) {
  .projects-list {
    width: 80vw;
  }
  .projects-title {
    font-size: 35px;
  }
}

.project-image {
  width: 100%;
}

/*individual project*/
.individual-project {
  width: 100%;
  height: 100vh;
}

.project-left {
  width: 50%;
  display: inline-block;
  float: left;
  height: 100%;
}

.individual-project-image{
  width: 80%;
  margin: 160px 55px;
  border: 5px solid #D3D6DB;
}

.project-right {
  letter-spacing: 2px;
  color: #233B6E;
  font-size: 20px;
  line-height: 170%;
  font-family: 'Quicksand', sans-serif;
}

.project-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  line-height: 110%;
  padding: 100px 0 0 0;
}

.project-description {
  padding: 20px;
}

.project-url {
  display: block;
}
.project-github {

}






/*.arrows {
  position: absolute;
  z-index: 100000;
  border: none;
  background: none;
  font-size: 100px;
  color: gray;
  margin: 100px -20px;
  transition-duration: 0.5s;
}

.arrows:hover {
  color: black;
  cursor: pointer;
  transition-duration: 0.5s;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}*/
