.Projects {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: #233B6E;
  text-align: center;
}

.projects-title {
  margin: 50px;
  font-size: 55px;
}

/*list of projects*/
.projects-list {
  width: 90vw;
  margin: auto;
}

/*single projects*/
.single-project {
  box-shadow: 0px 0px 5px gray;
  width: 30%;
  margin: 0 10px 10px 10px;
  transition: left 0.5s;
  padding: 5px;
}

.single-project:hover {
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .projects-list {
    width: 100vw;
  }
}

@media (max-width: 892px) {
  .projects-list {
    width: 60vw;
    margin: auto;
  }

  .single-project {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 500px) {
  .projects-list {
    width: 80vw;
  }
  .projects-title {
    font-size: 35px;
  }
}

.project-image {
  width: 100%;
}

/*modal*/

.modal-card {
  line-height: 170%;
  height: 90vh;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: #233B6E;
  border-radius: 5px;
  overflow-y: auto;
  padding: 20px;
}

.arrows {
  position: absolute;
  z-index: 100000;
  border: none;
  background: none;
  font-size: 100px;
  color: gray;
  margin: 100px -20px;
  transition-duration: 0.5s;
}

.arrows:hover {
  color: black;
  cursor: pointer;
  transition-duration: 0.5s;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.project-title {
  margin: 10px;
  font-size: 35px;
  line-height: 120%;
  text-align: center;
}

.project-modal-image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  transition-duration: 0.5s;
}

.project-modal-image:hover {
  box-shadow: 0 0 5px black;
  transition-duration: 0.5s;
}

.project-description p {
  font-size: 15px;
}

.project-github {
  position: relative;
  line-height: 400%;
}
