/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*#FFCA61
#FFEC85
#F2FFDF
#C9F0D6*/

.App {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  color: #84A58E;
  text-align: center;
  font-size: 25px;
}

/*hero*/
.hero-background-image {
  height: 95vh;
  background: linear-gradient(to top, transparent 0%, white 150%), url('background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-landing {
  color: #222f26;
  text-shadow: 1px 1px #84A58E;
  padding: 3% 3% 3% 13%;
  font-size: 50px;
  position: absolute;
  width: 40%;
  left: 28%;
  background-color: hsla(0, 0%, 100%, 0);
}

/*recent projects*/
.recent-projects-section {
  height: 90vh;
  margin-top: 10vh;
}

.recent-projects-title {
  font-size: 45px;
  padding: 20px;
}

.recent-projects-list {
  display: flex;
  width: 100vw;
}

.single-project {
  margin: auto;
}

.project-title {
  font-size: 20px;
}

.project-image {
  width: 30vw;
  height: 300px;
  box-shadow: 0 0 5px #84A58E;
}

/*view more button*/
.view-more-section{
  margin: 70px;
}
