.App {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
}

.loader-section {
  text-align: center;
  margin-top: 30vh;
}

/*hero*/
.hero-background-image {
  height: 100vh;
  /*background: linear-gradient(to top, transparent 0%, white 250%), url('background.jpg');*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.name {
  text-align: center;
  font-size: 80px;
  margin-bottom: 15px;
  background-color: hsla(0, 0%, 100%, 0);
  text-shadow: 4px 4px #EFF0F4;
}

.hero-text-landing {
  text-align: left;
  line-height: 120%;
  color: gray;
  font-size: 60px;
  position: absolute;
  bottom: 0;
  width: 85%;
  margin: 0px 50px;
  text-shadow: 2px 2px #EFF0F4;
  opacity: 0;
}

.front-end {
  color: black;
}


@media (max-width: 620px) {
  .name {
    font-size: 50px;
  }
  .hero-text-landing {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .name {
    font-size: 40px;
  }
  .hero-text-landing {
    font-size: 25px;
  }
}

/*recent projects*/
.recent-projects-section {
  margin-top: 10vh;
  opacity: 0;
}

.recent-projects-title {
  text-align: center;
  font-size: 55px;
  margin: 30px;
  padding: 20px;
  color: #233B6E;
}

@media (max-width: 650px) {
  .recent-projects-title {
    font-size: 35px;
  }
}

/*view more button*/
.view-more-section {
  margin: 55px;
  position: relative;
  text-align: center;
}
