.App {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
}

.loader-section {
  text-align: center;
  margin-top: 30vh;
}

/*hero*/
.hero-background-image {
  height: 100vh;
}

.hero-text-landing {
  text-align: left;
  line-height: 120%;
  color: #D3D6DB;
  font-size: 60px;
  position: absolute;
  bottom: 0;
  width: 85%;
  margin: 0px 50px;
  text-shadow: 2px 2px #EFF0F4;
  opacity: 0;
}

.front-end {
  color: #233B6E;
  text-shadow: 2px 2px #D3D6DB;
}

@media (max-width: 800px) {
  .hero-text-landing {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .hero-text-landing {
    font-size: 25px;
  }
}

/*recent projects*/
/*.recent-projects-section {
  margin-top: 10vh;
  opacity: 0;
}

.recent-projects-title {
  text-align: center;
  font-size: 55px;
  margin: 30px;
  padding: 20px;
  color: #233B6E;
}

@media (max-width: 650px) {
  .recent-projects-title {
    font-size: 35px;
  }
}*/

/*view more button*/
/*.view-more-section {
  margin: 55px;
  position: relative;
  text-align: center;
}*/
