.About {
  color: #84A58E;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  line-height: 130%;
  font-size: 20px;
}

.heading {
  text-shadow: 0.5px 0.5px #84A58E;
  padding: 40px 0 10px 0;
  font-size: 25px;
}

/*hero*/
.parallax-image {
  background: url('background.png');
  height: 40vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
  text-align: center;
  box-shadow: 0 0 5px #84A58E;
}

.hilary-lewis-image {
  position: absolute;
  left: 42%;
  top: 30vh;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 5px #84A58E;
}

/*about summary*/
.about-me {
  width: 60%;
  margin: auto;
}

.title {
  padding: 150px 0 20px 0;
  text-align: center;
  font-size: 45px;

}

.summary {
  margin-bottom: 50px;
}

/*experience*/
.experience-list {
  width: 70%;
  float: left;
}

.single-experience{
  padding: 20px 0;
  width: 90%;
  border-bottom: 1px solid;
}

.position {
  font-weight: 700;
}

.company, .dates {
  font-size: 15px;
}

/*skills*/
.skill-list{
  width: 30%;
  height: 80vh;
  float: right;
}

.single-skill{
  padding-top: 20px;
}

/*about this website*/
.about-website-section {
  margin: 50px auto;
}

.about-website-header {
  padding-bottom: 20px;

}

.underline {
  text-decoration: underline;
}

/*resume button*/
.resume-section {
  margin: 50px;
  text-align: center;
  display: block;
}

/*resume page*/
.Resume {
  text-align: center;
  color: #84A58E;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

.view-about-section {
  margin: 50px;
}
