.Contact {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  color: #84A58E;
  text-align: center;
  line-height: 200%;
}

.contact-section {
  font-size: 25px;
  margin: 10vh auto;
  width: 60vw;
}

.contact-title {
  font-size: 45px;
  margin: 30px;
}

.contact-email {
  font-size: 30px;
  text-decoration: underline;
}
