.Header {
  margin: 10px;
  text-align: right;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 20px;
  width: 30%;
  position: absolute;
  text-align: center;
  left: 0;
  margin: 10px 2px;
}

.menu ul {
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border: #84A58E 1px solid;
}

.menu li:hover {
  display: block;
  background: #84A58E;
  padding: 15px 0 15px 0;
  border-bottom: #222f26 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color:#fff;
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu a {
  text-decoration: none;
}

.menu a:hover{
  text-decoration: none;
  color: white;
}
