.Header {
  font-family: 'Quicksand', sans-serif;
  text-align: right;
  letter-spacing: 2px;
  font-size: 20px;
}

.hl-logo {
  font-size: 35px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  margin: 10px;
  letter-spacing: -3px;
  background: none;
}

.hl-logo:hover {
  cursor: pointer;
  color: #233B6E;
}

/*dropdown*/
.Dropdown {
  width: 100vw;
  float: right;
  height: 100vh;
  font-size: 50px;
  background: #EFF0F4;
  opacity: 0;
}

.hamburger-menu {
  z-index: 1000000;
  margin: 20px;
  top: 0;
  background: none;
  /*opacity: 0.5;*/
}

.hamburger-menu:hover {
  cursor: pointer;
  opacity: 1;
}

.menu {
  position: fixed;
  z-index: 100;
  font-size: 25px;
  text-align: center;
  top: 0;
}

.menu li {
  display: block;
  padding: 15vh 0 0 0;
  background: #EFF0F4;
}

.menu li:hover {
  cursor: pointer;
  color: #233B6E;
  transition-duration: 0.5s;
}
