.Footer {
  height: 200px;
  width: 100vw;
  color: #84A58E;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  line-height: 130%;
  font-size: 15px;
}


.single-contact-icon {
  height: 40px;
}

.single-contact {
  display: inline-block;
  margin: 70px 30px 30px 30px;
}
