.Footer {
  font-family: 'Quicksand', sans-serif;
  height: 80px;
  width: 100vw;
  text-align: center;
  background-color: #EFF0F4;
  display: absolute;
}

.single-contact {
  display: inline-block;
  margin: 20px;
}

.mail {
  width: 40px;
  height: 40px;
  display: block;
  background: url('./images/mail.png') no-repeat;
}

.mail:hover {
  background-image: url('./images/mail-hover.png');
}

.linkedin {
  width: 40px;
  height: 40px;
  display:block;
  background: url('./images/linkedin.png') no-repeat;
}

.linkedin:hover {
  background-image: url('./images/linkedin-hover.png');
}

.github {
  width: 40px;
  height: 40px;
  display:block;
  background: url('./images/github.png') no-repeat;
}

.github:hover {
  background-image: url('./images/github-hover.png');
}

.twitter {
  width: 40px;
  height: 40px;
  display:block;
  background: url('./images/twitter.png') no-repeat;
}

.twitter:hover {
  background-image: url('./images/twitter-hover.png');
}
