.Footer {
  font-family: 'Muli', sans-serif;
  height: 250px;
  width: 100vw;
  color: #415F9D;
  text-align: center;
  letter-spacing: 2px;
  line-height: 130%;
  font-size: 15px;
  font-weight: 100;
  background-color: #EFF0F4;
}

.single-contact {
  display: inline-block;
  margin: 90px 30px 30px 30px;
}

.mail {
  width: 88px;
  height: 88px;
  display:block;
  background: url('./images/mail.png') no-repeat;
}

.mail:hover {
  background-image: url('./images/mail-hover.png');
}

.linkedin {
  width: 88px;
  height: 88px;
  display:block;
  background: url('./images/linkedin.png') no-repeat;
}

.linkedin:hover {
  background-image: url('./images/linkedin-hover.png');
}

.github {
  width: 88px;
  height: 88px;
  display:block;
  background: url('./images/github.png') no-repeat;
}

.github:hover {
  background-image: url('./images/github-hover.png');
}

.twitter {
  width: 88px;
  height: 88px;
  display:block;
  background: url('./images/twitter.png') no-repeat;
}

.twitter:hover {
  background-image: url('./images/twitter-hover.png');
}
