* {
  font-family: 'Roboto', sans-serif;
  background: #F2F2F2;
}

/*links*/
a {
  color: #84A58E;
  text-decoration: none;
}

a:hover {
  color: #FFCA61;
}

/*buttons*/
.button{
  font-size: 15px;
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
}
